.idea/*
.idea (Selective Sync Conflict*
build/*
dist/*
data/*
data/Immnunogenicity/*
data*
src/vegvisir/data/*
vegvisir/dist/*
vegvisir/src/vegvisir.egg-info/*
vegvisir/src/vegvisir/__pycache__
PLOTS_*
*.pdf
*.tex
vegvisir/src/vegvisir/tests/toyexample.py

vegvisir/src/vegvisir/tests/test_masking.py

*.png

vegvisir/src/vegvisir/tests/utils/mnist_cached.py

vegvisir/src/vegvisir/tests/utils/custom_mlp.py

vegvisir/src/vegvisir/tests/utils/__init__.py

vegvisir/src/vegvisir/tests/test_semisupervised.py

vegvisir/src/vegvisir/tests/utils/vae_plots.py

run0.sh

run1.sh

vegvisir/src/vegvisir/tests/plot_computational_complexity.py

PRIME-master/*

MixMHCpred-master/*

Benchmark/*
*.p

immunomodulate_sequences.txt

Results_netMHCpan/vegvisir/group5_alleles

Results_netMHCpan/vegvisir/group4_alleles

Results_netMHCpan/vegvisir/group3_alleles

Results_netMHCpan/vegvisir/group2_alleles

Results_netMHCpan/vegvisir/group1_alleles

Results_netMHCpan/vegvisir/group0_alleles

vegvisir_requirements.txt

vegvisir/src/vegvisir/tests/Epitopes_info_TEST.tsv

vegvisir/src/vegvisir/tests/Epitopes_info_TRAIN.tsv

vegvisir/src/vegvisir/tests/test_merge_datasets.py

Results_netMHCpan/netMHCpantUbgzR/

Results_netMHCpan/Conditional_sampling/

vegvisir/src/vegvisir/tests/Epitopes_predictions_Test_fold_0.tsv

vegvisir/src/vegvisir/tests/Epitopes_predictions_Train_fold_0.tsv

Results_netMHCpan/Independent_sampling/old_plots/

Results_netMHCpan/Independent_sampling/

Results_netMHCpan/vegvisir_Generated/



__pycache__/
