twine
build
dromi
imgkit
logomaker
graphviz
ray[data,train,tune,serve]
Gooey
#numba==0.59 --config-settings="--build-option=--ignore-installed"
#scikit-misc>=0.3.1 --config-settings="--build-option=--ignore-installed"
#scikit-misc --config-settings="--build-option=--ignore-installed"
#jax[cuda12_pip] --config-settings="--build-option=-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html"

#python -m pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04 -Iv wxPython==4.2.1